body {
    color: white;
    overflow: visible;
}

nav {
    width: 80%;
    display: flex;
    gap: 5%;
    justify-content: center;
    font-size: 10vw;
}

.conteudo {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px;
}


html, body {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

a {
    text-decoration: none;
    color: #0f0;
}